{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <div class="container">
                <br>
                <br>
                <br>
            </div>
            <div class="jumbotron text-center">
                <h1>Thats about me document</h1>
            </div>
            <div class="container">
                <br>
                <br>
                <br>
            </div>
            <div class="container">
                <a href="/init/" class="btn btn-success btn-block">INIT</a>
            </div>
    
            <div class="container">
                <br>
                <br>
                <br>
            </div>
            <div class="row">
                
                <div class="col-md-4 text-center">
                    <h1>Titulo de ejemplo</h1>
                    <p class="jumbotron">parrafo de ejemplos</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1>Second titulo de ejemplo</h1>
                    <p class="jumbotron">parrafo de ejemplos</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1>thrid? itulo de ejemplo</h1>
                    <p class="jumbotron">parrafo de sample, i dont how to say "tercer"</p>
                </div>
            </div>
            <div class="container">
                <br>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h1>Titulo de ejemplo</h1>
                    <p>parrafo de ejemplos</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1>Second titulo de ejemplo</h1>
                    <p>parrafo de ejemplos</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1>thrid? itulo de ejemplo</h1>
                    <p>parrafo de sample, i dont how to say "tercer"</p>
                </div>
            </div>

            
        </div>
    </body>
</html>